%table.order-summary
  %thead
    %tr
      %th.order-number
        = Spree.t(:order_number)
      %th.order-date
        = Spree.t(:order_date)
      %th.order-status
        = Spree.t(:status)
      %th.order-payment-state
        = Spree.t(:payment_state)
      %th.order-shipment-state
        = Spree.t(:shipment_state)
      %th.order-total
        = Spree.t(:total)
  %tbody
    - @orders.each do |order|
      %tr
        %td.order-number
          = link_to order.number, order_url(order)
        %td.order-date
          = l order.completed_at.to_date
        %td.order-status
          = Spree.t("order_state.#{order.state}").titleize
        %td.order-payment-state
          = Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state
        %td.order-shipment-state
          = Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state
        %td.order-total
          = order.display_total
